[includeIf "gitdir:_JEL/"]
	path = .gitconfig-JEL
[core]
	autocrlf = input
	whitespace = cr-at-eol
	safecrlf = false
[alias]
	dog = log --decorate --oneline --graph
	adog = log --all --decorate --oneline --graph
	cb = checkout -b
	cp = cherry-pick
	bsu = "!f() { git branch --set-upstream-to=origin/$1 $1; }; f"
	fo = "!f() { git fetch origin $1:$1; }; f"
[push]
	default = current
	autoSetupRemote = true
[remote]
	pushDefault = origin
[init]
	defaultBranch = master
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[http]
	sslverify = false
