[includeIf "gitdir:~/_repos/"]
        path = .gitconfig-blibli
[includeIf "gitdir:~/_self/"]
        path = .gitconfig-self
[includeIf "gitdir:~/_JEL/"]
	path = .gitconfig-JEL

[core]
	autocrlf = false
	whitespace = cr-at-eol
	safecrlf = true
	filemode = false
[alias]
	dog = log --decorate --oneline --graph
	adog = log --all --decorate --oneline --graph
	cb = checkout -b
	cp = cherry-pick
	bsu = "!f() { git branch --set-upstream-to=origin/$1 $1; }; f"
	fo = "!f() { git fetch origin $1:$1; }; f"
	po = "!f() { git push origin $1:$1; }; f"
	pod = push origin -d
	mg = merge -Xdiff-algorithm=patience
[push]
	default = current
	autoSetupRemote = true
[remote]
	pushDefault = origin
[init]
	defaultBranch = master
[http]
	sslverify = false

[safe]
	directory = *

[pull]
	rebase = false

[diff]
	algorithm = patience
[credential]
	helper = store

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

