[includeIf "gitdir:_JEL/"]
	path = .gitconfig-JEL
[core]
	autocrlf = input
	whitespace = cr-at-eol
	safecrlf = false
[alias]
	dog = log --decorate --oneline --graph
	adog = log --all --decorate --oneline --graph
	cb = checkout -b
	cp = cherry-pick
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	default = current
[remote]
	pushDefault = origin
